@import '../../styles/variables.scss';

.header-container {
  background-color: $primary;
  padding: 1em 0;

  .header-link {
    color: white;
    padding: 0 1em;

    &:hover {
      cursor: pointer;
      font-weight: bold;
      color: $secondary;
    }

    &.active {
      color: $secondary;
    }
  }
}