<div>
  <form [formGroup]="form">

    <mat-form-field appearance="outline">
      <mat-label>Test Input</mat-label>
      <input formControlName="input" matInput placeholder="Enter test Input">
    </mat-form-field>

    <button (click)="runTest()" mat-raised-button color="primary" [disabled]="!valid">
      <div class="flex-row flex-align-center run-test-button-contents">
        <i *ngIf="valid; else invalid" class="fas fa-check-circle fa-lg"></i>
        <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
        <div>Run Test</div>
      </div>
    </button>

  </form>

  <div class="solution-container">
    <div class="solution-final">FINAL: {{solution?.final?.toString()}}</div>

    <div *ngIf="solution" class="solution-step-list">
      <div class="solution-step">
        <div>{{mo.toString()}}</div>
      </div>
      <div class="solution-step" *ngFor="let change of solution.changes">
        <div>{{change.newMathObject.toString()}}</div>
      </div>
    </div>
  </div>
</div>
