<div>
  <form [formGroup]="form" class="flex-column">

    <mat-form-field appearance="outline">
      <mat-label>Test Input</mat-label>
      <input formControlName="input" matInput placeholder="Enter test Input">
    </mat-form-field>

    <div class="button-container flex-row">

      <button (click)="runTest()" mat-raised-button color="primary" [disabled]="!valid" class="mr-1">
        <div class="flex-row flex-align-center run-test-button-contents">
          <i *ngIf="valid; else invalid" class="fas fa-check-circle fa-lg"></i>
          <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
          <div>Simplify</div>
        </div>
      </button>

      <button (click)="saveTest(true)" mat-raised-button color="accent" [disabled]="!solution" class="mr-1">
        <div class="flex-row flex-align-center run-test-button-contents">
          <i *ngIf="solution; else invalid" class="fas fa-check-circle fa-lg"></i>
          <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
          <div>Save Solution as Test</div>
        </div>
      </button>

      <button (click)="saveTest(false)" mat-stroked-button color="accent" [disabled]="!valid" class="mr-1">
        <div class="flex-row flex-align-center run-test-button-contents">
          <i *ngIf="valid; else invalid" class="fas fa-check-circle fa-lg"></i>
          <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
          <div>Save as Test W/O Solution</div>
        </div>
      </button>

      <button (click)="clearSolution()" mat-raised-button [disabled]="!solution" class="mr-1">
        <div class="flex-row flex-align-center run-test-button-contents">
          <i *ngIf="solution; else invalid" class="far fa-times-circle fa-lg"></i>
          <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
          <div>Clear Solution</div>
        </div>
      </button>
    </div>

  </form>

  <div *ngIf="solution" class="mt-1">
    <app-solution [solution]="solution" [mathObject]="mo"></app-solution>
  </div>

  <div class="mt-2">
    <button (click)="runAllTests()" mat-raised-button color="primary" class="mt-1 mb-1">
      <div class="flex-row flex-align-center run-test-button-contents">
        <i class="fas fa-vial fa-lg"></i>
        <div>Run All Tests</div>
      </div>
    </button>
    <app-tests-table [tests]="tests" class="mt-1"></app-tests-table>
  </div>
</div>
