<div>
  <form [formGroup]="form" class="flex-column">

    <mat-form-field appearance="outline">
      <mat-label>Test Input</mat-label>
      <input formControlName="input" matInput placeholder="Enter test Input">
    </mat-form-field>

    <div class="button-container flex-row">

      <button (click)="runTest()" mat-raised-button color="primary" [disabled]="!valid" class="mr-1">
        <div class="flex-row flex-align-center run-test-button-contents">
          <i *ngIf="valid; else invalid" class="fas fa-check-circle fa-lg"></i>
          <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
          <div>Run Test</div>
        </div>
      </button>

      <button (click)="saveTest()" mat-raised-button color="accent" [disabled]="!solution">
        <div class="flex-row flex-align-center run-test-button-contents">
          <i *ngIf="solution; else invalid" class="fas fa-check-circle fa-lg"></i>
          <ng-template #invalid><i class="fas fa-times-circle fa-lg"></i></ng-template>
          <div>Save Test</div>
        </div>
      </button>
    </div>

  </form>

  <div class="solution-container">
    <div class="solution-final mt-1">FINAL: {{solution?.final?.toString()}}</div>

    <div *ngIf="solution" class="solution-step-list">
      <div class="solution-step">
        <div>{{mo.toString()}}</div>
      </div>
      <div class="solution-step" *ngFor="let change of solution.changes">
        <div>{{change.newMathObject.toString()}}</div>
      </div>
    </div>
  </div>

  <div class="mt-1">
    <app-tests-table [tests]="tests" class="mt-1"></app-tests-table>
  </div>
</div>
