:host {
  display: flex;
  flex-direction: row;
}

.rational-divider {
  height: 1px;
  border-bottom: solid 2px black;
  width: 105%;
}

.math-object-container {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;

  .fa-asterisk {
    font-size: 8px;
    margin: .3em;
  }
}