<div *ngIf="context" class="flex-row flex-align-center">
  <div [ngSwitch]="mathObjectType" class="flex-row flex-align-center">

    <!-- RATIONAL -->
    <div *ngSwitchCase="'Rational'" class="flex-row flex-align-center">
      <div *ngIf="!isPositive(mathObject)">&nbsp;&nbsp;-&nbsp;&nbsp;</div>
      <div class="flex-column flex-align-center">
        <app-math-object [context]="getChildContext(0)" [changeContext]="changeContext"></app-math-object>
        <div class="rational-divider"></div>
        <app-math-object [context]="getChildContext(1)" [changeContext]="changeContext"></app-math-object>
      </div>
    </div>

    <!-- EXPRESSION -->
    <div *ngSwitchCase="'Expression'" class="flex-row flex-align-center">

      <div class="expression-sign flex-row" *ngIf="!isPositive(mathObject)">
        <div *ngIf="isFirstSibling && !inFirstTerm">&nbsp;&nbsp;</div>
        <div>-</div>
        <div *ngIf="isFirstSibling && !inFirstTerm">&nbsp;&nbsp;</div>
      </div>

      <div *ngIf="!isRoot">(&nbsp;</div>
      <ng-container *ngFor="let term of mathObject.children; let i = index">
        <div *ngIf="isPositive(term) && i !== 0">&nbsp;&nbsp;+&nbsp;&nbsp;</div>
        <app-math-object [context]="getChildContext(i)" [changeContext]="changeContext"></app-math-object>
      </ng-container>
      <div *ngIf="!isRoot">&nbsp;)</div>

    </div>

    <!-- TERM -->
    <div *ngSwitchCase="'Term'" class="flex-row flex-align-center">

      <!-- ADDITIONAL OPERATOR -->
      <div class="flex-row flex-align-center">
        <div *ngIf="additionalOpString">&nbsp;&nbsp;</div>
        <div>{{additionalOpString}}</div>
      </div>

      <ng-container *ngFor="let factor of mathObject.children; let i = index">
        <div *ngIf="i !== 0"> * </div>
        <app-math-object  [context]="getChildContext(i)" [changeContext]="changeContext"></app-math-object>
      </ng-container>
    </div>

    <div *ngSwitchCase="'Power'">{{this.context.target}}</div>
    
    <!-- BASIC FACTORS -->
    <div *ngSwitchDefault class="flex-row flex-align-center">
      <div *ngIf="isFirstSibling && !isPositive(mathObject); else positiveFactor" class="flex-row flex-align-center">
        <div *ngIf="!inFirstTerm">&nbsp;&nbsp;</div>
        <div>-</div>
        <div *ngIf="!inFirstTerm">&nbsp;&nbsp;</div>
        <div>{{flippedFactorStr}}</div>
      </div>
      <ng-template #positiveFactor>{{this.context.target}}</ng-template>
    </div>
  </div>
</div>
