<div *ngIf="solution" class="solution-container">

  <!-- <div class="mb-2">
    <div class="solution-final mt-1">FINAL: {{solution?.final?.toString()}}</div>

    <div *ngIf="solution" class="solution-step-list">
      <div class="solution-step">
        <div>{{solution.start.toString()}}</div>
      </div>
      <div class="solution-step" *ngFor="let change of solution.changes">
        <div>{{change.newMathObject.toString()}}</div>
      </div>
    </div>
  </div> -->

  <div class="solution-start">
    <app-math-object [context]="getStartContext()"></app-math-object>
  </div>

  <div class="solution-step mt-1 flex-column flex-align-center" *ngFor="let change of solution.changes">
    <app-math-object [context]="getPreviousMoContext(change)" [changeContext]="change"></app-math-object>

    <i class="fas fa-angle-double-down fa-lg mt-1 mb-1"></i>
    <div class="">
      <app-math-object [context]="getNewMoContext(change)" [changeContext]="change"></app-math-object>
    </div>
  </div>

  <div class="final-solution mt-1">
    <app-math-object [context]="getFinalContext()"></app-math-object>
  </div>
</div>