$highlightColor: rgb(2, 186, 192);

.solution-start {
  padding: 1em;
  background-color: lightgray;
  border: solid 2px gray;
}

.solution-step {
  padding: 1em;
  background-color: rgb(246, 251, 255);
  border: solid 2px $highlightColor;
  margin-top: .2em;

  .fa-angle-double-down {
    color: $highlightColor;
  }
}

.final-solution {
  padding: 1em;
  background-color: lightgreen;
  border: solid 2px green;
}